.projects .container--sm {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.projects .container--sm > div:nth-of-type(1) {
  position: sticky;
  top: calc(100px + 20px);

  flex: 4;
}

.projects h2 {
  margin-bottom: 20px;
}

.projects p:nth-of-type(1) {
  margin-bottom: 30px;
}

.projects a {
  color: var(--color-30);
}

.projects_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 3;
}

@media (max-width: 900px) {
  .projects .container--sm {
    flex-direction: column;
  }

  .projects h2,
  .projects p,
  .projects a {
    text-align: center !important;
  }
}
