.skills h2 {
  text-align: center;
  margin-bottom: 20px;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.skill {
  height: 55px;

  overflow: hidden;

  background-color: var(--color-60-3);
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.skill__header {
  width: 55px;
  height: 55px;
  color: var(--color-30);
  text-decoration: none;
  font-size: 35px;

  background-color: var(--color-60-2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.skill__body {
  padding: 20px;
}

@media (max-width: 850px) {
  .skills__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .skills__wrapper {
    grid-template-columns: 1fr;
  }

  .skill {
    height: 80px;
  }

  .skill__header {
    height: 80px;
    width: 80px;
  }

  .skill__header * {
    font-size: 55px;
  }

  .skill__body {
    font-size: 18px;
  }
}
