.header {
  width: 100%;
  height: 120px;

  z-index: 100;
  transition: all 200ms ease-in-out;

  position: fixed;
  top: 0;
  left: 0;
}

.header .container--lg {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: 0 20px;
}

.header__logo img {
  height: 80px;
}

.header__menu {
  width: 40px;
  height: 40px;

  cursor: pointer;
  transform: translateY(-50%);

  display: none;

  position: absolute;
  top: 50px;
  right: 20px;
}

.header__menu span {
  width: 100%;
  height: 3px;

  transform: translateY(-50%);
  transition: all 200ms ease-in-out;

  background: var(--color-30);
  border-radius: 10px;

  position: absolute;
}

.header__menu span:nth-child(1) {
  top: 25%;
}

.header__menu span:nth-child(2) {
  top: 50%;
}

.header__menu span:nth-child(3) {
  top: 75%;
}

.header.active .header__menu span:nth-child(1) {
  transform: translateY(-50%) rotate(405deg);

  top: 50%;
}

.header.active .header__menu span:nth-child(2) {
  opacity: 0;
  transform: translateX(-50%);

  top: 50%;
}

.header.active .header__menu span:nth-child(3) {
  transform: translateY(-50%) rotate(-405deg);

  top: 50%;
}

.header__links {
  margin: 0 20px;

  transition: all 200ms ease-in-out;
}

.header__links ul {
  height: 100%;

  display: flex;
  gap: 80px;
}

.header__links li {
  list-style: none;
}

.header__links a {
  padding: 10px 0;
  color: var(--white-2);
  font-size: 18px;
  font-weight: 300;

  text-decoration: none;
  text-transform: uppercase;

  display: block;

  position: relative;
}

.header__links a.active {
  color: var(--color-30);
}

@media (max-width: 1100px) {
  .header {
    height: 100px;
  }

  .header__menu {
    display: flex;
  }

  .header__links {
    width: 100%;
    padding: calc(40px + 100px) 0 40px 0;
    margin: 0;

    transform: translateX(-100%);
    z-index: -10;

    background-color: var(--color-60-2);

    position: absolute;
    top: 0;
    left: 0;
  }

  .header.active .header__links {
    transform: translateX(0);
  }

  .header__links ul {
    flex-direction: column;
    gap: 30px;
  }

  .header__links a {
    text-align: center;
  }
}

@media (min-width: 1101px) {
  .header__links a::before {
    content: '';

    width: 0;
    height: 1px;

    transition: all 200ms ease-in-out;

    background-color: var(--color-30);

    position: absolute;
    top: calc(100% - 1px);
    left: 0;
  }

  .header__links a.active::before {
    width: 100%;
  }

  .header__links a::after {
    content: '';

    width: 0;
    height: 3px;

    transition: all 200ms ease-in-out;

    background-color: var(--color-30);

    position: absolute;
    top: calc(100% - 3px);
    left: 0;
  }

  .header__links a:hover {
    color: var(--color-30);
  }

  .header__links a:hover::after {
    width: 100%;
  }
}
